[id^="content_"], #infoContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

[id^="content_"]:not(.hidden), #infoContent:not(.hidden) {
  max-height: 1000px; /* یا مقدار مناسب دیگر */
  transition: max-height 0.2s ease-in;
}

[id^="icon_"], #accordionIcon {
  transition: transform 0.2s ease-in-out;
}